* {
  margin: 0;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  width: 720px;
  align-items: center;
}

.loginTitle {
  font-size: 48px;
}

.loginInput {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 24px;
}

.loginUser {
  padding: 4px 16px;
  margin: 4px 0;
}

.loginPass {
  padding: 4px 16px;
  margin: 4px 0;
}

.loginRecover {
  display: flex;
  justify-content: space-between;
}

.loginSubmit {
  margin-top: 48px;
  padding: 12px 32px;
  border: 0px solid #f0f0f0;
  border-radius: 8px;
}
.errorText {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
